@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap");

/******************* V A R I A B L E  ***********************/
:root {
  --light: #f1f1f1;
  --medium: #d1d1d1;
  --dark: #bbb;
  --darkest: #212529;
}

/******************* E L E M E N T ***********************/
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
p {
  margin-bottom: 10px;
  font-size: 18px;
}
body {
  font-family: "Poppins", sans-serif;
  color: rgb(79, 76, 76);
}
h1 {
  text-align: center;
  margin-bottom: 10px;
}
h3 {
  text-align: justify;
}
h4 {
  margin-bottom: 10px;
}

/********************** C L A S S **************************/
.container {
  width: 100%;
  height: auto;
  max-width: 1000px;
  margin: 10px auto;
}

.box {
  position: relative;
  background-color: #f1f1f1;
  margin: 30px auto;
  padding: 30px;
  box-shadow: -10px 0 8px -10px rgba(0, 0, 0, 0.3),
    10px 0 10px -8px rgba(0, 0, 0, 0.3);
}
.baseNoteP {
  font-size: 16px;
  line-height: 25px;
  letter-spacing: 1px;
  margin-left: 15px;
  margin-top: 10px;
}

.exampleText {
  position: relative;
  margin-left: 50px;
  background-color: #f7f6f6;
  padding: 10px;
  margin: 10px;
  width: auto;
}
.note4InnerDiv {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 50px;
}
.note4content {
  width: 150px;
  height: 150px;

  background-color: #bbb;
}

/*note-5*/
.note5FlexBoxProperties {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 500px;
  height: auto;
}
.note5FlexBox {
  display: flex;
  width: 500px;
  height: 300px;
  font-size: 20px;
  border-radius: 0px !important;

  
  /*
  Defaults
  gap:0;
  justify-content:flex-start;
  align-items:stretch;
  flex-direction:row
  */
}
.note5Btn {
  padding: 5px;
  font-size: 14px;
  font-family: inherit;
  text-transform: uppercase;
  margin: 2px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
.note5ActiveBtn {
  background-color: var(--medium);
}
.note5Btn:hover {
  background-color: var(--medium);
}
.note5Btn:focus {
  outline: none;
}

/*selector spasificity (0,2,0s)*/

.note5FlexBox .el-1 {
  order: 1;
}
.note5FlexBox .el-2 {
  order: 3;
}
.note5FlexBox .el-3 {
  order: 5;
}
.note5FlexBox .el-4 {
  order: 7;
}
.note5FlexBox .el-5 {
  order: 9;
}

/*note6*/
/************************** I D  *************************/
#vscodeimage {
  display: flex;
  margin: 10px auto;
  transition: 0.3s ease-in-out;
}
#vscodeimage:hover {
  transform: scale(120%);
}
#note3ParentBox {
  position: relative;
  width: 60%;
  height: 400px;
  margin: 10px auto;
}
#note3ChildBox {
  position: absolute;
  width: 50px;
  height: 50px;
  background-color: #d2d2d2;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: transition 0.3s ease-in-out;
  transition-property: top, bottom, left, right;
}
#note4Div {
  position: relative;
  height: 500px;
}
#note4LeftDiv {
  position: absolute;
  left: 10px;
  height: 250px;
  width: 250px;
}
#note4RightDiv {
  position: absolute;
  right: 10px;
  height: 250px;
  width: 250px;
}

#note4LeftPDiv {
  position: absolute;
  left: 60px;
  width: 180px;
  bottom: 80px;

  transition: transform 0.1s ease;
}
#note4RightPDiv {
  position: absolute;
  right: 155px;
  bottom: 80px;
}
#note4RightContent {
  width: 150px;
  height: 150px;
  transition: transition 0.1s ease;
}

/********************** C O L L E C T I V E *********************/
.border p {
  margin-bottom: 15px;
}

#id5 .note5FlexBoxProperties p {
  display: inline-block;
  margin: 0 10px 0 0;

  font-weight: bold;
}
#id5 .note5FlexBoxProperties div {
  padding: 5px;
  border-bottom: 1px solid var(--dark);
}
#id5 .note5FlexBoxProperties div:last-child {
  border-bottom: none;
}

#id5 .note5FlexBox div {
  color: var(--darkest);
  padding: 0;
  margin: 0;
}
/*************** U T I L I T Y - T O O L S ***************/
.red {
  color: red;
}
.blue {
  color: blue;
}
.bold {
  font-weight: bold;
}
.tab {
  position: relative;
  margin-left: 50px;
  margin-bottom: 10px;
}
.border {
  border: 1px solid #d1d1d1;
  border-radius: 10px;
  margin-bottom: 10px;
  padding: 5px;
}
.dotedBorder {
  border: 5px dotted #a1a1a1;
}
.borderAnimate {
  transition: 0.3s ease;
}
.borderAnimate:hover {
  box-shadow: -10px 0 8px -10px rgba(0, 0, 0, 0.5),
    10px 0 10px -8px rgba(0, 0, 0, 0.5);
}
.dot {
  height: 15px;
  width: 15px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
}
